{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash

brew bundle --file=/dev/stdin <<EOF
tap "nikitabobko/tap"
tap "FelixKratz/formulae"
# Interpreted, interactive, object-oriented programming language
brew "python@3.14"
# Automate deployment, configuration, and upgrading
brew "ansible"
# Checks ansible playbooks for practices and behaviour
brew "ansible-lint"
# Clone of cat(1) with syntax highlighting and Git integration
brew "bat"
# A window border system for macOS
brew "borders"
# Command-line DNS Client for Humans
brew "doggo"
# More intuitive version of du in rust
brew "dust"
# Modern, maintained replacement for ls
brew "eza"
# Simple, fast and user-friendly alternative to find
brew "fd"
# User-friendly command-line shell for UNIX-like operating systems
brew "fish"
# Command-line fuzzy finder written in Go
brew "fzf"
# Distributed revision control system
brew "git"
# GNU Pretty Good Privacy (PGP) package
brew "gnupg"
# Ping, but with a graph
brew "gping"
# Update of iperf: measures TCP, UDP, and SCTP bandwidth
brew "iperf3"
# Lightweight and flexible command-line JSON processor
brew "jq"
# Simple terminal UI for git commands
brew "lazygit"
# Powerful, lightweight programming language
brew "lua"
# Ambitious Vim-fork focused on extensibility and agility
brew "neovim"
# Port scanning utility for large networks
brew "nmap"
# Rsync for cloud storage
brew "rclone"
# Search tool like grep and The Silver Searcher
brew "ripgrep"
# Custom macOS statusbar with shell plugin, interaction and graph support
brew "sketchybar"
# Editor of encrypted files
brew "sops"
# Very fast implementation of tldr in Rust
brew "tealdeer"
# Display directories as trees (with optional color/HTML output)
brew "tree"
# Internet file retriever
brew "wget"
# Blazing fast terminal file manager written in Rust, based on async I/O
brew "yazi"
# Process YAML, JSON, XML, CSV and properties documents from the CLI
brew "yq"
# Feature-rich command-line audio/video downloader
brew "yt-dlp"
# Shell extension to navigate your filesystem faster
brew "zoxide"
# AeroSpace is an i3-like tiling window manager for macOS
cask "aerospace"
# JetBrainsMono Nerd Font families (JetBrains Mono)
cask "font-jetbrains-mono-nerd-font"
# Menu bar manager
cask "jordanbaird-ice"
# GPU-based terminal emulator
cask "kitty"
{{ if ne .chezmoi.hostname "DE2LA-0GVF7QM" -}}
tap "fluxcd/tap"
# Flux CLI
brew "fluxcd/tap/flux"
# Kubernetes CLI To Manage Your Clusters In Style!
brew "k9s"
# Kubernetes command-line interface
brew "kubernetes-cli"
# Kubernetes package manager
brew "helm"
{{ end }}
EOF
{{ end -}}
